
.numPad {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;

    justify-content: safe;
    align-items: center;

}
.frame{
    background-color: dimgray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.calculatorScreen {
    height: 100px;
    width: 500px;
    background-color: black;
    color: white;
    border: solid black 30%;
    border-radius: 10px;
    margin: 30px auto 20px auto;
}
.row{
    display: flex;
    flex-direction: row;
}
button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: larger;

}
.number{
    background-color: #444;
}
.operator {
    background-color: orange;
    font-weight: bolder;
}
.special {
    background-color: grey;
}
